In [16]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("C:/Users/cveni/Desktop/evolution_survey.csv")
print(data.head(1))

   Respondent ID  Collector ID              Start Date  \
0    10814837742     238615316  06/21/2019 02:29:58 PM

                 End Date  IP Address  Email Address  First Name  Last Name  \
0  06/21/2019 02:30:31 PM         NaN            NaN         NaN        NaN

                Custom Data 1 What is your gender?  \
0  a15512cf9a10fd5b4c0fc1a833               Female

   In what year were you born? (enter 4-digit birth year; for example, 1976)  \
0                                               1982

  How many children do you have?  \
0                              3

  Which statement best matches your views on evolution?    Age  Gender  \
0  Humans and other organisms have changed over t...     30-44  Female

  Household Income           Region             Device Type
0  $25,000-$49,999  Middle Atlantic  Android Phone / Tablet

In [13]:
data.dtypes

Respondent ID                                                                  int64
Collector ID                                                                   int64
Start Date                                                                    object
End Date                                                                      object
IP Address                                                                   float64
Email Address                                                                float64
First Name                                                                   float64
Last Name                                                                    float64
Custom Data 1                                                                 object
What is your gender?                                                          object
In what year were you born? (enter 4-digit birth year; for example, 1976)      int64
How many children do you have?                                                object
Which statement best matches your views on evolution?                         object
Age                                                                           object
Gender                                                                        object
Household Income                                                              object
Region                                                                        object
Device Type                                                                   object
dtype: object

In [15]:
type(data['Which statement best matches your views on evolution?'][0])

str

In [22]:
def abbreviator(view):
    if view == 'Humans and other organisms have not changed since they were created.':
        return 'creationist'
    if view == 'Humans and other organisms have changed over time due to processes guided by God or a higher power.':
        return 'theist'
    if view == 'Humans and other organisms have changed over time through evolution by natural selection.':
        return 'Darwinian'
    else:
        return 'silent'
    
abbreviator(data['Which statement best matches your views on evolution?'][2])

'Darwinian'

In [26]:
data['view'] = data['Which statement best matches your views on evolution?'].apply(abbreviator)

data.view.sample(2)

8        theist
24    Darwinian
Name: view, dtype: object

In [28]:
type(data['How many children do you have?'][2])

str

In [32]:
data['How many children do you have?'].value_counts()

None         53
2            31
3            15
1            15
5 or more     3
4             1
Name: How many children do you have?, dtype: int64

In [40]:
def make_integer(answer):
    if answer == 'None':
        return 0
    if answer == '1':
        return 1
    if answer == '2':
        return 2
    if answer == '3':
        return 3
    if answer == '4':
        return 4
    if answer == '5 or more':
        return 5
for n in range(10):
    print(make_integer(data['How many children do you have?'][n]))

3
2
1
5
2
2
1
0
1
0

In [42]:
data['kids'] = data['How many children do you have?'].apply(make_integer)
data.kids.sample(5)

19     3
117    2
38     1
5      2
97     2
Name: kids, dtype: int64

In [44]:
data.groupby('view').kids.mean()

view
Darwinian      1.272727
creationist    0.333333
silent         0.000000
theist         1.285714
Name: kids, dtype: float64

In [54]:
data['age'] = 2019 - data['In what year were you born? (enter 4-digit birth year; for example, 1976)']
data.age.sample()

28    42
Name: age, dtype: int64

In [55]:
data[data.age > 40].groupby('view').kids.mean()

view
Darwinian      1.650000
creationist    1.000000
silent         0.000000
theist         1.727273
Name: kids, dtype: float64

In [62]:
data[data.view == 'creationist']

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,What is your gender?,...,How many children do you have?,Which statement best matches your views on evolution?,Age,Gender,Household Income,Region,Device Type,view,kids,age
28,10814768055,238615316,06/21/2019 01:54:21 PM,06/21/2019 01:55:14 PM,NaN,NaN,NaN,NaN,01acedf028a1ccf5f9ce96b538,Male,...,None,Humans and other organisms have not changed si...,30-44,Male,"$25,000-$49,999",East North Central,Android Phone / Tablet,creationist,0,42
32,10814765917,238615316,06/21/2019 01:54:45 PM,06/21/2019 01:55:00 PM,NaN,NaN,NaN,NaN,bf492ba448f6e76068049709e2,Male,...,1,Humans and other organisms have not changed si...,18-29,Male,"$25,000-$49,999",Pacific,iOS Phone / Tablet,creationist,1,24
40,10814714459,238615316,06/21/2019 01:43:05 PM,06/21/2019 01:43:44 PM,NaN,NaN,NaN,NaN,713da386594593a730c3b1b1c8,Female,...,None,Humans and other organisms have not changed si...,18-29,Female,"$25,000-$49,999",East North Central,iOS Phone / Tablet,creationist,0,25
45,10814690615,238615316,06/21/2019 01:30:25 PM,06/21/2019 01:31:05 PM,NaN,NaN,NaN,NaN,a7bc5915ff67ed3876664eff1f,Female,...,None,Humans and other organisms have not changed si...,18-29,Female,"$0-$9,999",East North Central,iOS Phone / Tablet,creationist,0,23
52,10814678596,238615316,06/21/2019 01:24:36 PM,06/21/2019 01:25:00 PM,NaN,NaN,NaN,NaN,f03f14d2b51c206b9f2f0aaf2a,Male,...,None,Humans and other organisms have not changed si...,30-44,Male,"$0-$9,999",NaN,Android Phone / Tablet,creationist,0,36
55,10814674739,238615316,06/21/2019 01:22:20 PM,06/21/2019 01:23:05 PM,NaN,NaN,NaN,NaN,9d6a49294b312a315506b2b9b6,Male,...,None,Humans and other organisms have not changed si...,18-29,Male,"$10,000-$24,999",Mountain,Android Phone / Tablet,creationist,0,20
62,10814656285,238615316,06/21/2019 01:13:16 PM,06/21/2019 01:13:49 PM,NaN,NaN,NaN,NaN,fd96764c29a77cf8f679781fac,Male,...,None,Humans and other organisms have not changed si...,18-29,Male,"$175,000-$199,999",Pacific,iOS Phone / Tablet,creationist,0,22
81,10812470482,238615316,06/20/2019 07:06:27 PM,06/20/2019 07:07:02 PM,NaN,NaN,NaN,NaN,d527fb128430d7b054b618eeaa,Male,...,2,Humans and other organisms have not changed si...,45-60,Male,"$25,000-$49,999",Middle Atlantic,Android Phone / Tablet,creationist,2,50
100,10812203602,238615316,06/20/2019 04:35:50 PM,06/20/2019 04:36:11 PM,NaN,NaN,NaN,NaN,1dd6fe5bfd512cf32bb1420c4a,Male,...,None,Humans and other organisms have not changed si...,18-29,Male,"$75,000-$99,999",West North Central,iOS Phone / Tablet,creationist,0,26